html{
    scroll-behavior: smooth;
}

.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10px 15px;
}

.contenedor-header header .logo a{
    text-decoration: none;
    font-size: 35px;
    color: #1cb698;
    font-weight: bold;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.contenedor-header header nav ul li a:hover{
    color: #1cb698;
}

.icon{
    list-style: none;
    padding-left: 20px;
    font-size: 18px;
}
.icon a{ 
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    text-decoration: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.icon a:hover{
    color: #1cb698;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.contenido{
    padding-top: 30px;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mostrador .fila .item{
    max-width: 250px;
    padding: 18px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item img{
    width: 100%;
}
.mostrador .fila .item .descripcion{
    padding-top: 25px;
    color: #707070;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #1cb698;
    font-weight: bold;
    display: none;
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 3px solid #1cb698;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}
.cerrar{
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: #1cb698;
}

.info{
    padding: 15px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #1cb698;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}

.info .fila button{
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    background-color: transparent;
    border: 2px solid #1CB698;
    width: fit-content;
    display: block;
    padding: 0 10px;
    color: #707070;
    position: relative;
    z-index: 10;
}
.info .fila button:hover{
    color: #fff;
}

.info .fila button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.info .fila button:hover .overlay{
    width: 100%;
}

.filtro{
    display: none;
}

.search{
    position: relative;
    padding-left: 100px;
    font-size: 18px;
}
.search input{
    font-size: 19px;
    width: 0;
    outline: none;
    border: 1px solid #1CB698;
    transition: all 0.6s ease;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
::placeholder{
    padding-left: 7px;
    font-size: 16px;
}
.busc{
    background-color: #1CB698;
    width: 33px;
	height: 33px;
	top: -7px;
	right: 60px;
    line-height: 35px;
	position: absolute;
	text-align: center;
	color: white;
	border-radius: 50%;
	cursor: pointer;
}
.busc i{
	transition: all .7s ease;
}
.search:hover input{
    width: 250px;
}
.search input:focus {
	width: 250px;
}
.search:hover i{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
}
.busc:hover{
    background: #1CB698;
}

#mostrador , #mostrador-niño, #mostrador-niña {
    display: none;
}

.btn-ac {
    display: none;
}

.nav-responsive{
    display: none;
}

/* seccion carrito */

.carrito{
    margin-left: 10px;
    border: 1px solid #666;
    width: 35%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    opacity: 0;
    margin-right: -100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 13px;
}

.carrito .carrito-item img{
    margin-right: 5px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: none;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 14px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 14px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 30px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 20px;
}

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

@media screen and (max-width:850px){
    .carrito{
        width: 100%;
    }
}

.modal-background {
    background: rgba(32,35,41,.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}